{% extends 'base.html.twig' %}

{% block body %}
    <h1>blog</h1>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #333333; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }

</style>
{% endblock %}
